*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
bin/win32/Debug/ControlPointGenerator.exe
bin/win32/Debug/ControlPointGenerator.ilk
bin/win32/Debug/cudart32_65.dll
bin/win32/Debug/glew32.dll
bin/win32/Debug/referenceCubicTexture3D.ilk
bin/win32/Debug/ControlPointGenerator.pdb
bin/win32/Debug/cudart64_65.dll
bin/win32/Debug/referenceCubicTexture3D.exe
bin/win32/Debug/glut32.dll
bin/win32/Debug/referenceCubicTexture3D.pdb
*.obj
/examples/BiCubic.sdf
/code/obj
/code/Debug
/code/CubicInterpCUDA.sdf
vc120.pdb
*.user
*.suo
